.t-section{background-color:yellow;margin:18px auto;font-size:18px;text-transform:uppercase;transform:skewX(10deg);-ms-transform:skew(10deg, 0deg);display:inline-block;padding:3px 9px 3px 6px;text-align:center}.t-section>h4{letter-spacing:-1px;padding-left:6px;transform:skewX(-10deg);-ms-transform:skew(-10deg, 0deg);margin:0px;color:black;font-weight:bold;margin:0px}.card.main img{width:256px}

/*# sourceMappingURL=maps/product.css.map */
