$font-size:				14px;
$sidebar-font-size:		0.85em;
$font-family:			Roboto, Arial, sans-serif;

$link-color:			#ed1c24;
$background-color:		#2e3135;
$primary-color:			#ed1c24;
$blue-color:			#007dc5;
$red-color:				#ed1c24;
$green-color:			limegreen;
$black-color:           #404040;

$max-container-width:	1200px;
$sidebar-width:			200px;

$first-breakpoint:		768px;
$second-breakpoint:		1024px;