@import 'variables' ;
body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        color: #404040;
      
    } 
    
    main{
        width: 100%;   
    }
}
p{
    margin-bottom: 0;
}
figure{
    float: left;
    figcaption{
        text-align: center;
        font-size: 14px;
        letter-spacing: -1px;
    }
}
h1{
    .badge{
        font-size: 14px;
        vertical-align: middle;
        float: right;
    }
}

.notify{
    position: fixed;
    z-index: 1;
    top: 81px;
    right: 0;
}
.t-section{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,f3f711+100 */
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #f3f711 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f3f711 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f3f711 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f3f711',GradientType=0 ); /* IE6-9 */
    margin: 18px auto;
    font-size: 18px;
    text-transform: uppercase;
    transform: skewX(10deg);
    -ms-transform: skew(10deg, 0deg);
    display: inline-block;
    padding: 3px 9px 3px 6px;
    text-align:center;
    &.bg-red{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
        background: #f85032; /* Old browsers */
        background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
        h1,h2,h3,h4,h5,h6{
            color: #fff;
        }
    }
    h4{
        color: #000;
        letter-spacing: -1px;
        padding-left: 6px;
        transform: skewX(-10deg);
        -ms-transform: skew(-10deg, 0deg);
        margin: 0px;
        font-weight: bold;
        margin: 0px;
    }
    h1{
        color: #000;
        letter-spacing: -1px;
        padding-left: 6px;
        transform: skewX(-10deg);
        -ms-transform: skew(-10deg, 0deg);
        margin: 0px;
        font-weight: bold;
        margin: 0px;
    }
}
div.dt-buttons{
    float: right !important;
    button.dt-button{
        padding: 6px;
        line-height: 1rem;
    }
}
#layer-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.85);
    z-index: 10000;
    background-image: url('../../img/repositor.png');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#img-view{
    &.show{
        display: flex !important;
        align-items: center;
    }
 
    .modal-dialog{
        width:max-content;
        max-width: initial !important;
        .modal-content{
            border-radius: 12px 12px;
            width: 100%;

            img{
                border-radius: 12px 12px;
                border: 3px solid rgba(0,0,0,0.2);
            }
            .close{
                position: absolute;
        
        right: 12px;
        
        top: 12px;
        
        padding: 6px;
        
        font-size: 12px;
            }
        }
    }
    
}

.dropdown-item{
    padding: 0.25rem 1rem;
}
