.notify{
    display: none;

    .close{
        font-size: 27px;
line-height: 20px;
margin-left: 18px;
    }
} 
.alert{ 
    &.cart-added{
       background: linear-gradient(#d9ffd4, #c1ff7e);
    } 
    &.cart-added, &.cart-remove, &.status-update, &.share-copy, &.offline, &.buy-sync, &.cart-empty{
        font-size: 16px;
        display: none;
        width: 80vw; 
        left: 10vw; 
        z-index: 1031; 
        border: 1px solid #ccc;
        position: fixed;
    
        figure{
            height:70px;
        }
        .img{
            width: 58px;
        }
        .text{
            margin: 0;
        }
        .quantity{
            font-size: 18px;
            margin: 0;
        }
        .link{
            .fa{
                margin-bottom: 2px;
            }
        }
        
        .added{
            font-size: 14px;

            background-color: rgba(255,255,225,0.8);
            
            border: 1px solid #fff;
            
            padding: 2px;
            
            position: absolute;
            
            z-index: 12;
            
            text-align: center;
            
            float: left;
            
            bottom: 0;
        }
    }
}
