
.t-section{
    background-color: yellow;
    margin: 18px auto;
    font-size: 18px;
    text-transform: uppercase;
    transform: skewX(10deg);
    -ms-transform: skew(10deg, 0deg);
    display: inline-block;
    padding: 3px 9px 3px 6px;
    
    text-align:center;
    & > h4{
        letter-spacing: -1px;
        padding-left: 6px;
        transform: skewX(-10deg);
        -ms-transform: skew(-10deg, 0deg);
        margin: 0px;
        color: black;
        font-weight: bold;
        margin: 0px;
    }
}

.card{
    &.product{
        min-height: 280px;
        .card-img-top{
            height: 160px;
            overflow: hidden;
            .caption{
                font-size: 11px;
                background-color: rgba(0,0,0,0.3);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: -1px;
                color: #fff;
                position: absolute;
                right: 12px;
                top: 12px;
                min-width: 64px;
                padding: 3px;
            }
        }

        .info-shelf {
            text-align: center;
            height: 40px;
            font-size: 12px;
            color: #fff;
            position: absolute;
            line-height: 33px;
            top: 138px;
            width:100%;
            z-index: 1;
            font-style: oblique;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: inline-block;
                border: 3px solid white;
                text-align: center;
                border-radius: 4px 4px;
                margin: 0 2px;
                min-width: 40px;
                height: 24px;
                font-size: 12px;
                color: #fff;
                line-height: initial;
                z-index: 1;
                font-style: oblique;
                padding: 0 3px;
            }
        }
        
        .discount {
            background-color: red;
     
        }
        
        .stock-option {
            background-color: $black;
 
        }
        
        .card-body{
            overflow: hidden;
            padding: 1rem;
            min-height: 120px;
            .card-title{
                font-size: 13px;
                line-height: 14px;
                margin-bottom: 6px;
                color: #8a8a8a;
                letter-spacing: -0.5px;
            }
            
            .detail{
                font-size: 12px;
                text-align: left;
            }

            p{
                margin-bottom: 0;
            }
            
        }

        .stock{
            .img{
                width: 128px;
            }
        }

        .card-footer{
            .btn{
                font-size: 12px;
                padding: 3px 6px;
                min-width:72px;
            }
   
        }
        
    }
}
