@import 'variables';

.page-admin{
    #menu-admin.list-group{
        li{
            padding:0;
            a{
                padding: 0.75rem 1.5rem;
                line-height: 2rem;
                display: flex;

                .fa{
                    margin-right: 12px;
                }
            }
        }
    }
}

@media (max-width:768px){
    .a-bottom{
        display: flex;
        height: 70vh;
    
    align-content: center;
    
    justify-content: center;
    
    align-items: end;
    }
}
