@import 'variables';

.item{
    .img{
        img{
            max-width: 48px;
        }
    }
    td{
        font-size:12px;
        input{
            padding:0;
            font-size:12px;
        }
    }
}