
table.cart{
    font-size: 11px;
    
    tr{
        position: relative;

        &.active{
            border: 2px solid green;
        }
        
    td{
        padding: 0.5rem;

        .alert-low-stock {
            position: absolute;
            bottom: 10px;
            background-color: rgba(0,0,0,0.45);
            width: 193px;
            color: #fff;
            padding: 1px;
            font-size: 9px;
            right: 3px;
border: 1px solid #eee;
        }
    
    }
    }
    
    .field-text{
        display:block;
    }
    .field-input{
        display:none;
        width:100%;
        padding: 0px;
        text-align:center;
    }

    .save{
        display:none;
    }
    .remove{
        display:none;
    }

    .item{
        .img{
            & > img{
                width:64px;
            }
        }
        &.available{
            background-color: #e6ffe6;
        }
        &.unavailable{
            background-color: #ffd4d4;
        }
    }
}

@media all and (min-width: 1024px){
    
    table.cart{
        font-size: 14px;
        
        input.quantity{
            width:60px;
        }
    }

}