@import 'variables' ;
@import 'multiple_select';

.custom-file{
 
    min-height: 68px;
    .custom-file-label{
        bottom:0;
        top:auto;
        &:after{
            content: 'Upload' !important;
        }
    }
}

.form-group {
    label{ 
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
        color: $black;
        font-size: 12px;
        margin-bottom: 0.2rem;
    }
}