
#page-home{
    #banners{
        section{
            background-image: -webkit-inear-gradient(top, #b22222 0%, #7d0000 100%);
            background-image: linear-gradient(to bottom, #b22222, #7d0000);
            
            background-position:center;
            border: 2px solid rgba(255,255,255,0.5);
            position: relative;
            min-height: 5rem;
            padding: 1rem 0;
            margin: 0.25rem auto;
            max-width: 768px;
            
            &:hover{
                
                background-image: -webkit-inear-gradient(top, #b22222 0%, #7d0000 100%);
                background-image: linear-gradient(to bottom, #7d0000, #b22222);
                
            }
            
            h2{
                color: #fff;
                font-weight: bold;
                text-align: center;
            }
            
            p{
                color: #fff;
                text-align: center;
            }
            
            .thumbnail{
                max-height: 75px;
            }
            
            &#shop{
                background-image: url('../img/customer.png');
            }
            
            &#user{
                //background-image: url('../img/account.png');
            }
        }
    }
}

@media (min-width: 1200px){
    #page-home{
        #banners{
            
            a{
                &:hover{
                    text-decoration:none;
                }
                
                section{
                    h2{
                        text-align:left; 
                    }
                    
                    p{
                        color: #fff;
                        text-align: left;
                    }
                }
            }
        }
    }
}