@import 'variables';
@import 'bootstrap_override';
@import 'notifications';

.nav-placeholder{
    &.top{
        height: 48px;
    }
    &.bottom{ 
        height: 140px
    }
}
.navbar{ 
    &.buy-actions{
        padding-top: 1rem;
        width: 100vw;
        &.options{ 
            top: 32px;
            font-size: 14px;
        }
        .btn{
            font-size: 12px;
            white-space: normal;
        }
    }
    &.checkout{
        &.options{ 
            bottom: 33px;
            .btn {
                font-size: 12px;
            }
        }
    }  
    &.top{
        font-size: 11px;
        color: $white;
        font-weight: 500;
        background-color: $red;
        border: 1px solid $black;
         
        figure{
            img{
                border:1px solid $white;
            }
        }
        .separator{
            padding: 6px 12px; 
        }
        li{
            align-items: center;
display: flex;
            a{ 
                color: #fff;
            }
        }
    }
    &.bottom{
        background-color: $red;
        ul{
            margin: 0 auto;
            list-style: none;
            height: 46px;
            li{
                color: #fff;
                min-height:40px;
                padding: 0.4rem 0;
           
                .fa{
                    font-size: 32px;
                }
                
                &.nav-cart{
                    width: 120px;
                    padding:0;
                    &.raw{
                        padding-top: 6px;
                    }
                    .fa-cart{
                        margin:1px 15px
                    }
                    
                    .btn-cart{
                        .badge{
                            top: 0;
                            position: relative;
                            line-height: inherit;
                        }
                    }
                }
                
                &.nav-menu{
                    text-align: center;
                    padding: 0;
                    button{
                        background-color: transparent;
                        color: #fff;
                        &:focus{
                            box-shadow: none;
                            outline: none !important;
                        }
                        &:after{
                            display:none;
                        }
                        &[aria-expanded="true"]{
                            transform: scale(1.5);
                        } 
                    }
                    .dropdown-menu{
                        background-color: #333;
                        color: #fff;
                        margin-bottom: 16px;
                        &.show{
                            display:grid;
                        }
                        
                        a{
                             
                            font-size: 12px;
                            min-height: 32px;                            
                            line-height: 22px;
                            &:hover{
                                background-color: $red;
                            }
                        }
                    }
                }
                
                a{
                    color: inherit;
                    display: flex;

                    height: auto;
                    align-items: center;
                    
                    font-size: 14px;
                }
                
                &.buy-status {
                    text-align: center;
                    font-size: 14px;
           
                    min-width: 120px;
                    height: 100%;
                    align-items: center;

display: flex;

justify-content: center;

    .null{
        a{
            font-size:11px;
        }
    
    }
}
    .loading{
        width: 28px;
        height: 28px;
        margin: 3px 3px 0 0;
    }
    .buy-id{
        margin-right: 3px;
        text-decoration: underline;
    }
}

                }
            }
        }

.btn-fixed-dock{
    bottom: 64px;
    right: 0;
    position:fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    z-index: 1;

    &.btn-fixed-share{
        justify-content: end;
        padding-right: 5vw;
        z-index: 2;
        width: auto;
        a{
            i{
                color: #404040;
            }
        }
    }
    
    .btn{
        margin: 3px;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        width: 64px;
        height:64px;
        border:1px solid $white;
        border-radius: 50%;
    }
    .btn-shop{
        float:left;
    }
    .btn-buy{
        float:right;
    }
    .btn-add{
        background-color: $green;
    }
    .btn-delete{
        background-color: $red;
    }
    .btn-edit{
        background-color: $black;
        
        &:hover{
            background-color: #444;
        }
    }
}

@media all and (min-width: 1024px){
    .navbar-top{
        ul{
            li{
                &.nav-buy{
                    margin-top:0;
                }
                &.nav-cart{
                    margin-top:0;
                }
                &.nav-user{
                    margin-top:0;
                }
            }
        }
    }
}
