
.wrap-addresses{

.address{
    padding-top:6px;
    padding-bottom:6px;
    border-bottom: 1px solid #ccc;

    .address-title{
        margin-bottom: -1.5rem;
    }
    .remove{
          padding: 0 0.4rem; 
    }

    &:nth-child(odd){
        background-color: #fafafa;
    }

    &:nth-child(even){
        background-color: #eee;
    }
}

}