@import 'variables';
@import 'showroom';

#filters{
    & > ul{
        list-style: none;
        padding: 0; 
        
        margin: 6px 0;
        & > li{
            & > h4{ 
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: underline;
                
                font-size: 14px;
                background: #ccc;
                padding: 9px;
                margin: 0;
            }
            & > ul{
                list-style: none;
                padding: 6px;
                font-size: 13px;
                
                background-color: #eee;
            }
        }
    } 
}

@media all and (min-width: 768px) { 
    #btn-filters{
        display:none;
    }
    #filters{
        display:block;
    }
}

