@import 'variables';
@import 'showroom';

.card-tag{
    .card-image{
        position: relative;
        figure{
            width: 100%;
        }
        .badge.count {

            position: absolute;
            right: 12px;
            top: 12px;
        
        }
    }

    .card-caption {
        position: absolute;
        bottom: 4px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        padding: 4px;
        width:100%;
        min-height: 55px;
        display: flex;
   
        h4{
            margin: auto;
            align-self: center;
            color: #fff;
            font-size:14px;
            text-transform: uppercase;
        }
    }
}