@import 'variables';
@import 'showroom';


.card{

    small{
        font-size: 10px;
    }
}

.component{
    border-bottom: 1px solid #ccc;
    padding-bottom:18px;
    margin-bottom:18px;
    .remove{
        padding: 0 0.4rem;
    }
}

.field{
    border-bottom: 1px solid #ccc;
    padding-bottom:18px;
    margin-bottom:18px;
    .field-title{
        margin-bottom: -1.5rem;
    }
    .remove{
          padding: 0 0.4rem; 
    }
}
