@import 'variables';

.sections{
    .card-header{
        padding:0;
            .card-link{
        font-weight: bold;
text-transform: uppercase;
color: #444;
font-size: 14px;
line-height: 28px;
display: block;
width: 100%;
height: 100%;
padding: 14px;
    }
    }

}